<li class="selected-item ui-id-<%= user_item.id %>">
	<div class="selected-item-info clearfix" data-id="<%= user_item.id %>">
		<div class="item-info-left">
			<a href=<%= user_item.item.item_url %> target="_blank">
				<img src=<%= user_item.item.image_url %>>
			</a>
		</div>
		<div class="item-info-middle">
			<p><%= user_item.item.item_name%></p>
			<p><%= user_item.item.item_address%></p>
		</div>
		<div class="item-info-right">
			<%= image_tag "gurume-icon.png", :class => "top-img"%>
			<%= link_to image_tag("dislike.png", :class => "bottom-img"), "/top/#{user_item.id}", method: :delete, :remote => true %>
		</div>
	</div>
</li>