<div class="modal-user-group-div clearfix">
	<%= link_to({:controller => :top, :action => :index, :id => user_group.id }, data: {no_turbolink:true}) do %>
		<div class="modal-left">
			<%= image_tag user_group.group.avatar,  :class => 'modal-sample-image'%>
		</div>
	<% end %>
	<div class="modal-right">
		<p style="font-size: 30px;"><%= user_group.group.group_name %></p>
		<p style="font-size: 30px;"><%= user_group.group.owner_user_name %></p>
		<p style="font-size: 30px;"><%= user_group.group.destination %></p>
		<% if current_user.id == user_group.group.owner_user_id then %>
			<p style="font-size: 50px;">消去</p>
		<% end %>
	</div>
</div>

<p class="members-slide-button" value=<%= user_group.group.id %>>------------Members---------------</p>
<!-- 冗長にメンバーを取得 -->
<% group_users = user_group.group.user_groups %>
<div id="modal-bottom" class=<%= "modal-bottom-#{user_group.group.id}" %>>
	<div class="members-row" style="font-size: 30px;">
		<% group_users.each do |gu| %>
			<div><%= gu.user.unique_name %></div>
		<% end %>
	</div>
</div>
