<li class="selected-item ui-id-<%= user_item.id %>">
	<div class="item-info clearfix">
		<div class="item-info-left">
			<a href=<%= user_item.item.item_url %> target="_blank">
				<img src=<%= user_item.item.image_url %>>
			</a>
		</div>
		<div class="item-info-right">
			<%= link_to '削除', "/top/#{user_item.id}", method: :delete, :remote => true %>
			<p><%= user_item.item.item_name%></p>
		</div>
	</div>
</li>