<div class="modal-user-group-div clearfix">
	<%= link_to({:controller => :top, :action => :index, :id => user_group.id }, data: {no_turbolink:true}) do %>
		<div class="modal-left">
			<%= image_tag user_group.group.avatar,  :class => 'modal-sample-image'%>
		</div>
	<% end %>
	<div class="modal-right">
		<p style="font-size: 30px;"><%= user_group.group.group_name %></p>
		<p style="font-size: 30px;"><%= user_group.group.owner_user_name %></p>
		<p style="font-size: 30px;"><%= user_group.group.destination %></p>
	</div>
</div>