
<div class="contents">

	<div class="display-map">
		<div class="map-embed">
			<div id="map-canvas">map</div>
		</div>
	</div>

	<div class="display-items">
		<div class="pattern4">
			<%= render :partial => "top/item", :collection => @items %>
		</div>
	</div>

	<!-- iineとyokunaineはトグル -->
	<div class='iine-button'>
		<%= form_for(@new_user_item, :url => {:controller => :top, :action => :create}, :remote => true) do |f| %>
			<!-- viewに表示されない -->
			<%= f.hidden_field :item_id, :value => 1, :class => "iine_item_id" %>
			<%= f.submit "" %>
		<% end %>
	</div>
	<div class='yokunaine-button'>
		<%= link_to image_tag("dislike.png"), "/top/1", :class => "yokunaine_item_id", method: :delete, :remote => true %>
	</div>

	<ul class="selected-item-list" style="list-style:none;">
		<%= render :partial => "top/user_item", :collection => @user_items %>
	</ul>

	<div class="modal-div">

		<div id="account-div">
			<div class="modal-user-div clearfix">
				<div class="modal-left">
					<%= image_tag current_user.avatar %>
				</div>
				<div class="modal-right">
					<p class="account-email"><%= "Email : #{current_user.email}" %></p>
					<p class="account-id"><%= "UserID : #{current_user.unique_name}" %></p>
				</div>
			</div>
			<span class="modal_close">☓</span>
			<%= link_to "EDIT", edit_user_registration_path, :class => "button button-action button-pill button-giant account-edit-button", :method => "get"%>
		</div>

		<div id="group-div">
			<%= render :partial => "top/user_group", :collection => @user_groups %>
			<span class="modal_close">☓</span>
			<%= link_to "New Group", "/groups/new" , :class => "button button-action button-pill button-giant group-create-button", :method => "get"%>
		</div>

		<div id="owner-div">
			<div class="modal-owner-div">
				<%= link_to "Aggregate", "/owners/", :class => "button button-action button-pill button-giant group-create-button", :method => "get" %>
			</div>
			<span class="modal_close">☓</span>
		</div>

	</div>

</div>


