
<div class="contents">

	<div class="display-map">
		<div class="map-embed">
			<div id="map-canvas">map</div>
		</div>
	</div>

	<div class="display-items">
		<div class="pattern4">
			<%= render :partial => "top/item", :collection => @items %>
		</div>
	</div>

	<div class='iine-button'>
		<%= form_for(@new_user_item, :url => {:controller => :top, :action => :create}, :remote => true) do |f| %>
			<!-- viewに表示されない -->
			<%= f.hidden_field :item_id, :value => 1, :class => "form_item_id" %>
		  	<%= f.submit 'いいね!', :class => "button button-royal button-pill button-giant" %>
		<% end %>
	</div>

	<ul class="selected-item-list" style="list-style:none;">
		<%= render :partial => "top/user_item", :collection => @user_items %>
	</ul>

	<div class="modal-div">
		<div id="group-div">
			<%= render :partial => "top/user_group", :collection => @user_groups %>
		<span class="modal_close">☓</span>
		<%= link_to "Create", "/groups/new" , :class => "button button-action button-pill button-giant group-create-button"%>
		</div>
	</div>

</div>


