<div class="login-contents">
  <div class="form-wrapper">
    <h1 style="font-size: 70px;">Edit Account</h1>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

      <div class="field form-item">
        <%= f.email_field :email, autofocus: true, :placeholder => "Email"%>
      </div>

      <div class="field form-item">
        <%= f.text_field :unique_name, autofocus: true, :placeholder => "User ID"%>
      </div>

      <div class="field", style="margin-top: 50px;">
          <%= f.file_field :avatar, :class => "dropify" %>
      </div>

      <div class="field form-item">
        <%= f.password_field :current_password, autocomplete: "off", :placeholder => "Current Password"%>
      </div>

      <div class="actions button-panel">
        <%= f.submit "Update", :class => "user_button"%>
      </div>
    <% end %>
  </div>
</div>
