<div class="contents">

	<div class="display-map">
		<div class="map-embed">
			<div id="map-canvas">map</div>
		</div>
	</div>

	<p class="display-slide-button">----------Search Hotel----------</p>
	<div class="display-hotels">
		<a rel="leanModal" href="#search-filter-div"><%= image_tag "search.png", :class => "search-button" %></a>
		<div class="pattern4">
			<p class='search-explain'>Google mapのマーカーをクリックして<br>周辺のホテルを検索</p>
		</div>
	</div>

	<ul class="selected-item-list" style="list-style:none;">
		<%= render :partial => "owners/voted_item", :collection => @orderd_voted_items %>
	</ul>

	<div id="search-hotel-button">
		<%= form_tag("/owners/search",:remote => true) do%>
			<%= hidden_field_tag :lat, 0, :class=>"search-lat"%>
			<%= hidden_field_tag :lng, 0, :class=>"search-lng" %>
			<%= hidden_field_tag :radius, 1.0, :class=>"search-radius" %>
			<%= hidden_field_tag :count, 3, :class=>"search-count" %>
			<%= submit_tag '', :class=>"do-search"%>
		<% end %>
	</div>

	<div class="modal-div">
		<div id="search-filter-div">
			<div class="modal-search-filter-div clearfix">
				<p>aaaaaaaaa</p>
			</div>
		<span class="modal_close">☓</span>
		</div>
	</div>

</div>