<div class="contents">

	<div class="display-map">
		<div class="map-embed">
			<div id="map-canvas">map</div>
		</div>
	</div>

	<p class="display-slide-button">----------Search Hotel----------</p>
	<div class="display-hotels">
		<a rel="leanModal" href="#search-filter-div"><%= image_tag "search.png", :class => "search-button" %></a>
		<div class="pattern4">
			<p class='search-explain'>Google mapのマーカーをクリックして<br>周辺のホテルを検索</p>
		</div>

		<!-- iineとyokunaineはトグル -->
		<div class='iine-button'>
			<%= form_for(@new_group_item, :url => {:controller => :owners, :action => :create}, :remote => true) do |f| %>
				<!-- viewに表示されない -->
				<%= f.hidden_field :item_id, :value => 1, :class => "iine_item_id" %>
				<%= f.hidden_field :item_name, :value => 1, :class => "iine_item_name" %>
				<%= f.hidden_field :item_address, :value => 1, :class => "iine_item_address" %>
				<%= f.hidden_field :item_url, :value => 1, :class => "iine_item_url" %>
				<%= f.hidden_field :image_url, :value => 1, :class => "iine_image_url" %>
				<%= f.hidden_field :item_lat, :value => 1, :class => "iine_item_lat" %>
				<%= f.hidden_field :item_lng, :value => 1, :class => "iine_item_lng" %>
				<%= f.submit "" %>
			<% end %>
		</div>
		<div class='yokunaine-button'>
			<%= link_to image_tag("dislike.png"), "/owners/1", :class => "yokunaine_item_id", method: :delete, :remote => true %>
		</div>

	</div>

	<ul class="selected-item-list" style="list-style:none;">
		<%= render :partial => "owners/group_item", :collection => @group_items %>
	</ul>

	<div id="search-hotel-button">
		<%= form_tag("/owners/search",:remote => true) do%>
			<%= hidden_field_tag :lat, 0, :class=>"search-lat"%>
			<%= hidden_field_tag :lng, 0, :class=>"search-lng" %>
			<%= hidden_field_tag :radius, 0.5, :class=>"search-radius" %>
			<%= hidden_field_tag :count, 10, :class=>"search-count" %>
			<%= submit_tag '', :class=>"do-search"%>
		<% end %>
	</div>

	<div class="modal-div">
		<div id="search-filter-div">
			<div class="modal-search-filter-div clearfix">
				<div class="radius-count">
					<p>半径何キロ？</p>
					<span class="radius-value">1.0</span><br>
					<button type="button" class="button button-royal button-box button-giant radius-up">+</button>
					<button type="button" class="button button-royal button-box button-giant radius-down">-</button>
				</div>
			</div>
		<span class="modal_close">☓</span>
		</div>
	</div>

</div>