<div class="login-contents">
  <div class="form-wrapper">
    <h1 style="font-size: 70px;">New Group</h1>
    <%= form_for(@new_group, :url => {:controller => :groups, :action => :create}) do |f|  %>

      <div class="field form-item">
          <%= f.text_field :group_name, autofocus: true, :placeholder => "Group Name"%>
      </div>

      <div class="field form-item">
        <%= f.text_field :destination, autocomplete: "off", :placeholder => "Destination" %>
      </div>

      <div class="add-member clearfix">
        <div class="add-member-button-div">
          <%= f.add_nested_fields_link :user_groups, 'Add User', class: 'button button-action button-pill button-large', role: 'button' %>
        </div>
        <div class="field form-item">
          <%= f.nested_fields_for :user_groups, wrapper_tag: :div do |f2| %>
            <%= f2.text_field :user_id, :placeholder => "Member : UserID" %>
          <% end %>
        </div>
      </div>

      <div class="actions button-panel">
          <%= f.submit "Create", :class => "user_button"%>
      </div>
    <% end %>
  </div>
</div>