<!DOCTYPE html>
<html>
<head>
  <title>Meshitabi</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Google map api -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD14tmQBu1aHRg9AR5wteo3AFCo_QXuJiQ">
  </script>
</head>
<body>

  <header class="clearfix">
    <% if user_signed_in? and params[:controller] == "top" %>
      <div id="wapper" class="left-contents">
        <div class="style1">
          <select class="select">
            <option value="1">アカウント</option>
            <option value="2">グループ</option>
            <option value="3">ログアウト</option>
          </select>
        </div>
        <!-- Menuの各アクションを以下に定義 -->
        <div class="hidden-menu-event">
          <span class="menu-event2"><a rel="leanModal" href="#group-div">グループ</a></span>
          <span class="menu-event3"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></span>
        </div>
      </div>
    <% else %>
      <div class="left-contents">
        <%= link_to "Home", "/", data: {no_turbolink:true} %>
      </div>
    <% end %>
  </header>

	<!-- コンテンツ -->
	<%= yield %>

	<!-- <footer>
		<h6>copyright</h6>
	</footer> -->
</body>
</html>
