<!DOCTYPE html>
<html>
<head>
  <title>Meshitabi</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Google map api -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD14tmQBu1aHRg9AR5wteo3AFCo_QXuJiQ">
  </script>
  <!-- Pusher -->
  <script src="//js.pusher.com/2.2/pusher.min.js" type="text/javascript">
  </script>
</head>
<body>

  <header class="clearfix">
    <% if user_signed_in? and params[:controller] == "top" %>
      <div id="wapper" class="left-contents">
        <div class="style1">
          <select class="select">
            <option value="1">アカウント</option>
            <% if current_user.id == @group_owner_id then %>
              <option value="2">グループ</option>
              <option value="3">オーナー</option>
              <option value="4">ログアウト</option>
            <% else %>
              <option value="2">グループ</option>
              <option value="3">ログアウト</option>
            <% end %>
          </select>
        </div>
        <!-- Menuの各アクションを以下に定義 -->
        <div class="hidden-menu-event">
          <span class="menu-event1"><a rel="leanModal" href="#account-div">アカウント</a></span>
          <% if current_user.id == @group_owner_id then %>
            <span class="menu-event2"><a rel="leanModal" href="#group-div">グループ</a></span>
            <span class="menu-event3"><a rel="leanModal" href="#owner-div">オーナー</a></span>
            <span class="menu-event4"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></span>
          <% else %>
            <span class="menu-event2"><a rel="leanModal" href="#group-div">グループ</a></span>
            <span class="menu-event3"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></span>
          <% end %>
        </div>
      </div>
      <div class="right-contents clearfix">
        <%= link_to image_tag(@group_avatar, :class => "right-avatar"), "/groups/#{@group_id}", data: {no_turbolink:true}, method: :get %>
        <!-- 招待中のグループの有無によって表示・非表示を変換 -->
        <a rel="leanModal" href="#notification-div" <%= 'style=display:none;' if @invited_group.blank? %> class="right-notification" ><%= image_tag "notification.png" %></a>
      </div>
    <% else %>
      <div class="left-contents">
        <%= link_to "Home", "/", data: {no_turbolink:true} %>
      </div>
    <% end %>
  </header>

	<!-- コンテンツ -->
  <div class="dummy-div"></div> <!-- fixedに対するダミー -->
	<%= yield %>

	<!-- <footer>
		<h6>copyright</h6>
	</footer> -->
</body>
</html>
