<!DOCTYPE html>
<html>
<head>
  <title>Meshitabi</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Google map api -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD14tmQBu1aHRg9AR5wteo3AFCo_QXuJiQ">
  </script>
</head>
<body>

	<header class="clearfix">
    <div class="left-contents">
    </div>
    <div class="right-contents">
      <% if user_signed_in? %>
        <%= link_to "logout", destroy_user_session_path, method: :delete, :class => "button button-royal button-pill button-giant" %>
      <% end %>
    </div>
	</header>

	<!-- コンテンツ -->
	<%= yield %>

	<!-- <footer>
		<h6>copyright</h6>
	</footer> -->
</body>
</html>
